*.sw*
.vscode
.DS_Store

*.o
*.so

ubuntu-mainline-kernel.sh
liburing/

microbench/microbench

demoapps/demo-c/demo
demoapps/demo-cpp/demo
demoapps/demo-cpp/demo_dbdir/

realapps/leveldb/leveldb-src/build/
realapps/leveldb/leveldb-src/out/
realapps/leveldb/ycsbcli
realapps/leveldb/workloads
realapps/leveldb/results

realapps/coreutils/results
realapps/tar/results
